<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite" parallel="methods" thread-count="3">
    <test name="QA Test Automation">
        <classes>
            <class name="tests.QATest">
                <methods>
                    <include name="shouldOpenHomePageAndCheckTitle"/>
                    <include name="shouldNavigateToCareersAndCheckBlocksVisibility"/>
                    <include name="shouldFilterQAJobsByLocationAndDepartment"/>
                    <include name="shouldCheckAllFilteredJobsContainQAAndLocation"/>
                    <include name="shouldRedirectToLeverApplicationFormWhenViewRoleClicked"/>
                </methods>
            </class>
        </classes>
    </test>
</suite> 